<link href="~/css/birdingtips.css" rel="stylesheet" />

<div class="birdingtips-page">
  <div class="container mt-4">
    <a href="Index" class="btn btn-primary btn-sm mb-3">&larr; Go Back To Tips Page</a>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow">
          <div class="card-header">
            Lesson #1
          </div>
          <div class="card-body">
            <h5 class="card-title">Introduction to Identification</h5>
            <p class="card-text">Simply Step Outside and Observe</p>
            <a href="Introduction_To_Identification" class="btn btn-primary">Go to Lesson</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow">
          <div class="card-header">
            Lesson #2
          </div>
          <div class="card-body">
            <h5 class="card-title">Introduction To Technology</h5>
            <p class="card-text">Learn How to Enhance Your Observations with Technology</p>
            <a href="Introduction_To_Technology" class="btn btn-primary">Go to Lesson</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow">
          <div class="card-header">
            Lesson #3
          </div>
          <div class="card-body">
            <h5 class="card-title">Introduction to Gear</h5>
            <p class="card-text">Optional Gear to Enhance Your Experience</p>
            <a href="Introduction_To_Gear" class="btn btn-primary">Go To Lesson</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow">
          <div class="card-header">
            Lesson #4
          </div>
          <div class="card-body">
            <h5 class="card-title">Introduction To Etiquette</h5>
            <p class="card-text">Learn How to Observe Quietly and Respectfully</p>
            <a href="Introduction_To_Etiquette" class="btn btn-primary">Go To Lesson</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow">
          <div class="card-header">
            Lesson #5
          </div>
          <div class="card-body">
            <h5 class="card-title">Introduction To Habitats</h5>
            <p class="card-text">Explore Different Habitats</p>
            <a href="Introduction_To_Habitats" class="btn btn-primary">Go To Lesson</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>