@model StorkDorkMain.Models.MilestoneViewModel;

@{
    ViewData["Title"] = "Milestones";
}

<div class="container mt-4">
    <h1> @Model.FirstName </h1>
    <h2> @Model.Milestone.SightingsMade</h2>
    <h2> @Model.Milestone.PhotosContributed</h2>
</div>
