html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.map-page {
    height: 96vh;
    margin: 0;
    padding: 0;
}

.map-page #map {
    height: 100%;
    width: 100%;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip  {
    background-color: #F2F8DB !important;
}