
<!-- Can be deleted later -->
<label for="userSelect">Select User:</label>
<select id="userSelect">
    <option value="all">All</option>
    <option value="1">Marjorie Caldwell</option>
    <option value="2">Emily Carter</option>
    <option value="3">Patricia Rivers</option>
</select>
 
 <!-- Map -->
 <div id="map" class="leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"></div>
