 <!-- Map -->

@section Styles {
    <link rel="stylesheet" href="~/css/map-page.css">
} 

 <div class="m-0 p-0 map-page">
    <div id="map" class="d-flex leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"></div>
 </div>

<script src="~/js/map/map.js"></script>