


<div class="container mt-4">  
    <a href="Index" class="btn btn-primary btn-sm">Go Back To Tips Page</a>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header">
                    Lesson #1
                </div>
                <div class="card-body">
                    <h5 class="card-title">Intermediate Identification</h5>
                    <p class="card-text">(insert description here)</p>
                    <a href="Intermediate_Identification" class="btn btn-primary">Go to Lesson</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4">  <!-- Added margin-top -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header">
                    Lesson #2
                </div>
                <div class="card-body">
                    <h5 class="card-title">Incorporating Technology</h5>
                    <p class="card-text">Technology can simplify bird identification, making your birdwatching experience more enjoyable and educational. </p>
                    <a href="Incorporating_Technology" class="btn btn-primary">Go to Lesson</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container mt-4">  <!-- Added margin-top -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header">
                    Lesson #3
                </div>
                <div class="card-body">
                    <h5 class="card-title">Getting Geared Up</h5>
                    <p class="card-text">Technology can simplify bird identification, making your birdwatching experience more enjoyable and educational. </p>
                    <a href="Getting_Geared_Up" class="btn btn-primary">Go To Lesson</a>
                </div>
            </div>
        </div>
    </div>
</div>