@model UserSettings;

<form id="settings-form">
    <table>
        <input type="checkbox" asp-for="AnonymousSightings" name="anonymous-sightings" id="anon-sights">
        <label for="anonymous-sightings" asp-for="AnonymousSightings" >I want my sightings to be anonymous</label>
    </table>
</form>