@model UserSettings;

<form id="settings-form" method="post">
    <input type="hidden" asp-formaction="Id" />

    <input type="checkbox" asp-for="AnonymousSightings">
    <label asp-for="AnonymousSightings" >&nbsp; I want my sightings to be anonymous</label>

    <button type="submit">Save</button>
</form>